<div [class]="simpleMode ? 'relative p-3' : 'relative mt-4 rounded-2xl border border-white/10 bg-white/5 p-4'">
  @if (isDraggingItem) {
    <div class="absolute inset-0 z-40 rounded-2xl bg-black/50 pointer-events-none"></div>
  }

  @if (!simpleMode) {
    <div class="mb-3 text-xs font-semibold tracking-wide text-white">
      <p>Items</p>
      <div id="filter-tags">
        @for (filter of filters; track filter) {
          <button
            (click)="setActiveFilter(filter)"
            [attr.data-active]="activeFilter === filter"
            class="mr-2 mt-2 rounded-xl px-3 py-1 text-white/80 bg-white/10 transition-colors duration-200 hover:bg-white/20 focus:outline-none
          data-[active=true]:bg-white/30 data-[active=true]:ring-2 data-[active=true]:ring-white/50"
          >
            {{ filter | titlecase }}
          </button>
        }
      </div>
    </div>
  }

  <div
    id="item-palette"
    class="rounded-2xl border-2 border-black bg-white/5 p-3 flex flex-wrap gap-3"
    [style.min-height.px]="getItemSizePx('large') + 28"
  >
    @for (item of items; track item.id) {
      <div
        class="grid source-item select-none place-items-center rounded-xl border border-white/20 bg-white/10 text-white shadow-sm backdrop-blur touch-none relative"
        [attr.data-item-id]="item.id"
        [class.relative]="activeDraggedItemId === item.id"
        [class.z-50]="activeDraggedItemId === item.id"
        [class.not-available]="!isAvailable(item.id)"
        [class.hidden]="activeFilter !== null && item.filter_category !== activeFilter && !simpleMode"
        [style.width.px]="getItemSizePx(item.size)"
        [style.height.px]="getItemSizePx(item.size)"
        [style.font-size]="'clamp(14px, ' + getItemSizePx(item.size) * 0.12 + 'px, 9999px)'"
        [id]="item.id"
        [appTooltip]="tooltipsEnabled ? item.helpText : ''"
        (mousedown)="onMouseDown(item.id, $event)"
      >
        @if (getItemSizePx(item.size) >= 60) {
          <span class="line-clamp-2 text-center break-words w-full leading-tight" style="hyphens: auto;">
            {{ item.label }}
          </span>
        } @else if (getItemSizePx(item.size) >= 45) {
          <span class="line-clamp-1 text-center break-words w-full leading-tight" style="hyphens: auto;">
            {{ item.label }}
          </span>
        } @else if (getItemSizePx(item.size) >= 40) {
          <span class="line-clamp-1 text-center truncate w-full px-1">
            {{ item.label }}
          </span>
        } @else {
          <span class="text-center truncate w-full px-1">
            {{ item.label.charAt(0) }}
          </span>
        }
        @if (item.maxAvailableCount) {
          <span class="absolute top-1 left-1 text-[12px] leading-none text-white/60">
          {{ item.currentAvailableCount ?? item.maxAvailableCount }} / {{ item.maxAvailableCount }}
        </span>
        }
      </div>
    }
  </div>
</div>
